.blogs{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog{
    position: relative;
    text-decoration: none;
    width: 70%;
    border: 2px solid teal;
    padding: 1rem;
    padding-top: .4rem;
    margin: .5rem;
    border-radius: 1rem;
    color: rgb(26, 26, 26);
    transition: .2s ease;
}

.blog:hover{
    background-color: rgb(240, 255, 247);
}

.author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .6rem;
}

.author h1{
    font-size: 1.4rem;
}

.menu-btn {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    width: 100px;
}

.delete-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    width: 50%;
    left: 20%;
    z-index: 999;
}

.delete-menu .delete-title{
    font-size: 2rem;
    font-weight: bold;
}

.delete-menu .delete-message{
    font-size: 1.3rem;
}

.delete-menu .buttons{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem;
}

.delete-menu .cancel{
    color: blue;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .3rem;
    margin-right: .3rem;
    border-radius: 3px;
}

.delete-menu .cancel:hover{
    background-color: rgb(210, 210, 255);
}

.delete-menu .delete{
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .3rem;
    margin-right: .3rem;
    border-radius: 3px;
}

.delete-menu .delete:hover{
    background-color: rgb(252, 210, 210);
}

.menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.menu button {
    display: block;
    padding: 8px;
    color: black;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-family: serif;
    cursor: pointer;
}

.menu button:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

.blog .body{
    padding-left: 1rem;
    margin-bottom: 1.6rem;
}

.blog .time{
    display: flex;
    align-items: center;
    justify-content: end;
}

.admin{
    border:2px solid red;
}