{% extends "base.html" %}
{% load static %}

{% block title %}change password{% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static 'blog/form.css' %}">{% endblock style %}


{% block content %}
    <div class="form">
        <form method="POST">
            <div class="username">
                <span><i class="fa-solid fa-circle-user"></i> {{user.username}}</span>
            </div>
            {% csrf_token %}
            {{form.as_div}}
            <input type="submit" value="Change">
        </form>
    </div>
{% endblock content %}