body main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.password{
    color: white;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-style: normal;
    width: 80%;
    height: 80vh;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.password span i{
    font-size: 2rem;
}