{% extends "base.html" %}
{% load static %}
{% block title %}Blogs{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'blog/style.css' %}">{% endblock style %}
    

{% block content %}
    <div class="blogs">
        
        {% for blog in blogs %}
        {% if blog.visable %}
        <div class="blog">
            <div id="delete-{{blog.id}}" class="delete-menu">
                <p class="delete-title">Delete message</p>
                <br>
                <p class="delete-message">Are you sure you want to delete this<br>blog?</p>
                <br>
                <div class="buttons">
                    <a class="cancel" id="cancel" onclick="toggleCancel('{{ blog.id }}')">Cancel</a>
                    <a class="delete">Delete</a> 
                </div>
            </div>
            <div class="author">
                <h1>{{ blog.title }}</h1>
                <div class="dropdown">
                    <span>{{ blog.author }}</span>
                    
                    <button onclick="toggleMenu('{{ blog.id }}')" class="menu-btn">⋮</button>                       
                    <div id="menu-{{blog.id}}" class="menu">
                        <a href="{% url 'update_blog' blog.id %}">edit</a>
                        
                        <button onclick="toggleDelete('{{ blog.id }}')" class="delete-btn">delete</button>
                    </div>
                </div>
            </div>
            
            <div class="body" >
                <p>{{ blog.text }}</p>
            </div>
            
            <div class="time">
                <span>{{ blog.creation_time }}</span>
            </div>
        </div>
        {% endif %}
        {% endfor %}
            
    </div>
{% endblock content %}