@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 246, 235);
}

header{
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-style: normal;
    border-bottom: 2px solid;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    transition: .3s ease;
    margin: 0 .5rem;
    font-size: 1.1rem;
}

header a:hover{
    color: black;
}