*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 246, 235);
}

header{
    border-bottom: 2px solid;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    transition: .3s ease;
}

header a:hover{
    color: black;
}