{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block style %}{% endblock style %}
        
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="{% url 'blogs' %}">Blogs</a>
            <a href="{% url 'new_blog' %}">Write Your Blog</a>
        </div>

        <div class="brand">
            <h1>Mahdi</h1>
        </div>
    </header>

    <main>
        {% block content %}
          
        {% endblock content %}
        <script src="{% static 'script/main.js' %}"></script>
    </main>
</body>
</html>