{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}

    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="https://kit.fontawesome.com/f481dde2ad.js" crossorigin="anonymous"></script>
    
    {% block style %}{% endblock style %}
        
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="links">
            <a href="{% url 'blogs' %}">Blogs</a>
            
            {% if user.is_authenticated %}
                <a href="{% url 'new_blog' %}">Write Your Blog</a>
            {% endif %}
                
        </div>

        <div class="register">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
                
                {% else %}
                <div class="dropdown">
                    <i class="fa-solid fa-user-large"></i>
                                           
                    <div class="user-menu">
                        <a href="{% url 'password_change' %}">Change Password</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
          
        {% endblock content %}
        <script src="{% static 'script/main.js' %}"></script>
    </main>
</body>
</html>